#maincontent {
    background-color: blue;
    border: 1px solid blue;
    height: 300px;
    width: 500px;   
    float: left;
    position: relative;

}

#sidebar{
    background-color: yellow;
    border: 1px solid yellow;
    height: 300px;
    width: 300px;
    float: left;    
    /*position: relative;
    padding-top: 50px;
    padding-left: 0px;
    padding-bottom: 50px;
    padding-right: 500px;*/
}


/****************************   NON TOCCARE   ****************************/

#header {
    background-color: orange;
    border: 1px solid orange;
    height: 50px;
    width: 800xp;
    clear: both;
}

#footer {
    background-color: green;
    border: 1px solid green;
    height: 50px;
    width: 800xp; 
    position: relative;
    clear: both;
}

#container  {
    background-color: whitesmoke;
    border: 1px solid black;
    height: 406px;
    width: 804px;
}