
h1{
   text-transform: uppercase;
   color: blue;
}

h2{
    text-transform: capitalize;
   color: red;
   text-decoration: underline;

}

p{
    text-align: justify;
}

#terzo{
    text-align: right;
}

.cit{
    text-shadow: 2px 2px 5px red;
}
