.grandezza {
    width: 300px;
    height: 80px;
    float: left;
    padding:10px;
}
.gls {
        color:white;
        background-color: orange;
        height: 10px;
        width: 280px;
        float:left;
        top:50px;
        padding:10px;
}
.p
{
    color:white;
    float:left;
    width:80px;
    height:60px;
    background-color:brown;
    padding: 10px;
    
}
.l
{
    color:white;
    float:left;
    width: 180px;px;
    height:60px;
    background-color:aquamarine;
    padding: 10px;
}
.h {
    color:white;
    background-color: greenyellow;
    height: 10px;
    width: 280px;
    float:left;
    bottom:50px;
    padding:10px;
}
