.a
{
    float: left;
    border:1px solid;
    width: 100px;
    height:100px;
    background-color: purple;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
}
.l
{
    border: 0px solid;
    float:left;
    border: 1px solid;
    width:100px;
    height:100px;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    margin: 0px;
}
.q
{
    float: left;
    border: 1px solid;
    width:100px;
    height:100px;
    border-radius: 10px 10px 10px 10px; 
    text-align: left;
    background-color: purple;
    text-align: ;
    text-decoration-color: white;
    padding: 10px;
}