.q
{
    border: 1px solid;
    width:180px;
    height:200px;
    background-color: purple;
    color: white;
    padding: 10px;
    float:left;
    border-radius: 10px 10px 10px 10px;
}

.l
{
    
    float:left;
    width: 220px;
    height: 200px;
    padding: 10px;
    margin: 0px;
    background-color:white;
    padding:10px;
}
.u {
    float:left;
    width: 360px;
    height: 100px;
    padding: 10px;
    margin: 0px;
    background-color:white;
    padding:10px;
}



