.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #ffffff;
    width: 600px;
    padding: 10px;
  }
  
  .container2 {
    display: flex;
    border: 1px solid black;
    flex-direction: row;
    justify-content: space-around;
    background-color: #ffffff;
    width: 600px;
    padding: 5px;
  }
  
  .item {
    border-radius: 7px;;
    background-color: #ff8349;
    border: 6px solid #0d35ff;
    width: 100px;
    padding: 10px;
    text-align:center;
  }