

  h1 {
    font: 22px 'Black Rose Regular', Georgia, serif;
     }
  h2 {
    font-family: 26px 'Times New Roman', Times, serif; 
     }

  p {
    font: 12px 'ArmWrestler Bold', Arial, serif;
    }

    ul.cercho {
        list-style-type: circle;
      }

      ol.roman {
        list-style-type: upper-roman;
      }