h1{
    border-bottom: 5px solid blue;
    border-left:  7px black;
}
h2{
    border-top: 2px dashed green;
}
p{
    border-bottom: 3px dashed grey;
    border-left: green;
    border-right: green;
}