a:link{
    color: blue;
}
a:hover{
    color: green;
}
a:visited{
    color: red;
    background-color: yellow;
}
h1:first-child{
    color: blue; 
    
}
p:first-child{
    color: red;
    text-align: left;
}