
h1 {color: blue;}

    
    .rosso { 
        color: red;
      }
      .verde { 
        color: green;
      }
      
      .arancione { 
        color: orange;
      }
      
      .grigi { 
        color: grey;
      }
      
