<htlm>
<head>
<style>
h1 {color: rgb(2, 6, 255);}

    #pr1 { 
    color: gray;
    }
    #pr2 { 
       color: orange;
    }
   
    #pr3 { 
        color: gray;
    }
    #pr4 { 
        color: orange;
    }
    #pr5 { 
        color: gray;
    }
    #pr6 { 
        color: orange;
    }


    
</style>
</head>
</htlm>