
h1,h2,h3 {
    color: red;
}
h1,h2,h3 {
    text-decoration: underline;
    text-decoration-color: gray;
  }

  p { text-align:left
 }
  p {
    color :blue;
  }
    .rosso { 
        color: red;
      }
      .verde { 
        color: green;
      }
      
      .arancione { 
        color: orange;
      }
      
      .grigi { 
        color: grey;
      }
      
