h1 {color: blue;}
#h21 {color: red;}
#h23 {color: red;}
#h25 {color: red;}
#h22 {color: green;}
#h24 {color: green;}
#h26 {color: green;}
#pr1 {color: gray;}
#pr3 {color: gray;}
#pr5 {color: gray;}
#pr2 {color: orange;}
#pr4 {color: orange;}
#pr6 {color: orange;}