h1 {color: blue; 
    border-bottom: 5px solid blue; 
    border-left: 7px solid black;
}
p { border-bottom: dashed 3px grey; 
    border-left: solid green; 
    border-right: solid  green;}

h2 {border-top: dashed 2px green;}