.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
    border: 2px solid rgba(23, 146, 146, 0.911);
    border-radius: 10px;
}
.item{
    width: 160px;
    height: 50px;
    font-size: 20px;
    line-height: 2.5em;
    padding: 0 0 0 10px;
    color: white;
    background-color: rgba(1, 1, 133, 0.623);
}