

h1{
  color: rgb(87, 0, 128);
  font-family: "Bellota", system-ui;
  font-weight: 700;
  font-style: italic;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

h2 { 
    color: green;
    font-weight: bold;
    font-family: Sofia, sans-serif; 
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


h3{
  color: rgb(0, 255, 187);
    font-family: "Zeyada", cursive;
    font-weight: 800;
    font-style: normal;  
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.rosso { 
  color: rgb(30, 0, 255);
}

.verde {
  color: rgb(0, 255, 132);
}

.grigio {
  color: rgb(238, 105, 28);
}

ul.cerchio {
  list-style-type: circle;
}

ol.roman {
  list-style-type: upper-roman;
}

ul {
  list-style-type: none;
}
  
li:before {
  font-family: 'Material Icons';
  color: red;
  vertical-align: -10%;
  padding-right: 10px;
}

