.container {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 700px;
    padding: 10px;
  }

  .item {
    background-color: #2d598b;
    border: 1px solid #0dcfff;
    color: white;
    width: 210px;
    height: 250px;
    padding: 10px;
    border-radius: 10px;
  }