.content{
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 50%;
    padding: 10px;
    justify-content: center;
    border: solid cyan 1px;
}
.item{
    border-radius: 10px;
    background-color: blue;
    padding: 50px;
    height: 200px;
    width: 100px;
    text-align: center;
}