nav{
    display: block;
    text-align: center;
}

div{
    float: left;
    background-color: black;
    border: 1px solid black;
    margin: 0;
    padding: 0;
}

div > a{
    color: white;
    text-decoration: none;
}

div > a:hover{
    background-color: gray;
}