.container{
    display: grid;
    width: 30%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}
.item{
    display: flex;
    font-size: 30px;
    color: white;
    align-items: center;
    background-color: rgb(59, 56, 56);
    padding: 30px;
    border-radius: 10px;
}
.item:nth-child(1){
    grid-column: 1 / 3;
}
.item:nth-child(2){
    grid-column: 3 / 5;

}
.item:nth-child(4){
    grid-column: 2 / 5;
}
.item:nth-child(5){
    grid-column: 1 / 5;
}