

.contenitore{
    width: 400px;
    height: 200px;
    background-color: purple;
}

.testo{
    width: 70%;
    height: 150px;
    float: left;
    color: white;
    padding-top: 20px;

}

.foto{
    border-radius: 10px  ;
   width: 28%;
    height: 150px;
    float: left;
    background-color: lightblue;
    padding-top: 20px;
    margin-top: 15px;

}