td{
  text-align: center;
  width: 100px;
  height: 100px;
}

tr:nth-child(even) > td:nth-child(odd){
  background-color: black;
  text-align: center;
  color: white;
}

tr:nth-child(odd) > td:nth-child(even){
  background-color: black;
  text-align: center;
  color: white;
}



