body {
    display: flex;
    justify-content: center;
}

.grid {
    width: 50%;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.grid-item {
    border: 1px solid red;
}

.a {
    grid-column: 2 / 5;
}

.b {
    grid-row: 2 / 4;
}