body {
    display: flex;
    justify-content: center;
}

.grid {
    width: 50%;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

.a {
    grid-column: 2 / 5;
}

.b {
    align-items: start;
    grid-row: 2 / 5;
}

.c {
    align-items: start;
    grid-row: 5 / 8;
    grid-column: 5 / 7;
}