h1 {color: blue;}
#p1 {color: grey;}
#p3 {color: grey;}
#p5 {color: grey;}
#p2 {color: orangered;}
#p4 {color: orangered;}
#p6 {color: orangered;}
#h1 {color: red;}
#h3 {color: red;}
#h2 {color: green;}
#h4 {color: green;}