.container {
    position: relative;
    width: 500px;
}

.testo {
    position: absolute;
    top: 20%;
    left: 13%;
    color: yellow;
    padding: 10px;
    font-size: 20px;
    backdrop-filter: blur(10px);
}

img {
    width: 300px;
}