h1, h2, h3{
    color: red;
    text-decoration: underline;
    text-decoration-color: blue;
}
p{
    color: blue;
    text-align: left;
}
#h2{
    color: green;
}
#pr7{
    color: red;
    text-align: right;
}
