.grid-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    border: 2px solid black;
    width: 288px;
  }
  
  .grid-item {
      border: 1px solid black;
      background-color: rgb(255, 114, 12);
      width: 50px;
      padding: 10px;
      text-align: center;
  }