nav{
    background-color: black;
    display: block;
    text-align: center;
}

ul{
    list-style-type: none;
}

li{
    display: inline;
}

ul a{
    color: white;
    text-decoration: none;
}

ul a:hover{
    background-color: gray;
}