
.container{
    display: grid;
    width: 30%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.item{
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
}
.head-foot{
    display: flex;
    align-items: center;
    background-color: rgb(130, 130, 130);
    color: white;
}
.item:nth-child(1){grid-column: 1 / 6;}
.item:nth-child(2){padding-right: 30px;}
.item:nth-child(3){grid-column: 2 / 5;}
.content{
    grid-row: 2 / 4;
    background-color: rgb(59, 56, 56);
    color: white;
}
.item:nth-child(4){
    grid-column: 5 / 5;
    color: rgb(62, 61, 61);
    background-color: rgb(172, 164, 164);
}
.item:nth-child(5){grid-column: 1 / 6;}
