
a{
    color: blue;
}

a:visited{
    color: blue;
    background: yellow;
}

a:hover{
    color: green;
}

h1:first-child{
    text-decoration: underline;
}

h2:first-child{
    color: green;
}

p:first-child{
    text-align: left;
    color: red;
}