p {
  color: blue;
  text-align: left;
}

h1,h3 {
  text-decoration: underline;
  text-decoration-color:grey;
  color:red
}

#h2_3_lin { 
  color: green;
}

#p_7_par { 
  color: red;
  text-align: right;
}

.hrdispari {
  color:red;
  width:3px;
}

.hrpari {
  color:black;
  width:10px;

}