h1{
    color: red;
    border-bottom: 5px solid blue;
    border-left: 7px solid black;
    text-transform: uppercase;
}

h2{
    color: red;
    border-top: 2px dotted green;
    text-transform: capitalize;
    text-decoration: underline;
}

p{
    border-bottom: 3px dotted gray;
    border-right: green;
    border-left: green;
    text-align: justify;
}

#p3{
    text-align: right;
}

b{
    text-shadow: 2px 2px red;
}