p mark{
    color: green;
}
p b{
    color: yellow;
    background-color: black;
}
em div{
    color: red;
    background-color: yellow;
}
span div{
    color: black;
    background-color: yellow;
}