#container{
    border: 10px solid aqua;
    border-radius: 5px;

}

#picture {
    border: 5px solid white;
    width: 911px;
    height: 760px;
    border-radius: 5px;

   /* float: left;*/
}

#Infos_cont{
    
    padding-right: 1rem;
    /*float: right;*/
    border-radius: 5px;
    background-color: blue;
    float: top;

}

#logo{
    border-radius: 5px;

}

#linea{
    background-color: white;
}




/*.post {
    background-color: green;
    border: 15px solid aquamarine;
    padding: 5px;
    height: 300px;
    border-radius: 5px;
}

h3 {
    color: white;
    font-size: 30px;
    padding-left: 1rem;
}

.img {
    background-color: lightseagreen;
    display: block;
    float: left;
    padding: 1rem;
    margin-left: 1rem;
    width: 18%;
    height: 120px;
    border-radius: 5px;

}

img {
    margin-top: 0.75rem;
    position: relative;
    width: 100%;
    border-radius: 5px;
}

.writing {
    border: 1px solid black;
    background-color: red;
    float: left;
    margin-left: 4rem;
    margin-right: 2rem;
    width: calc(82% - 10rem);
    height: 150px;
    text-align: justify ;
    border-radius: 5px; 
}

.text {
    margin: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}




/****************************   NON TOCCARE   ****************************/
/*
#header {
    background-color: orange;
    border: 1px solid orange;
    height: 150px;
    width: 800xp;
    clear: both;
    border-radius: 5px;
}


 #navigation {
    position: absolute;
    right: 35px;
    top: 50px;
    background-color: purple;
    shape-margin: 1px;
    width: 150px;
    height: 50px;
    text-align: center;
    border-radius: 5px;
    text-align: center;

}

#logo {
    position: absolute;
    left: 35px;
    top: 50px;
    background-color: purple;
    shape-margin: 1px;
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 5px;
}*/