.grid-container{
    border: solid black 0px;
    width: 50%;
    height: 100%;
    display: grid;
    grid-template-columns: 16.7% 16.7% 16.7% 16.7% 16.7% 16.7%;
}
.grid-item{
    border: solid red 2px;
    text-align: center;
}
.a{ 
    grid-column: 2 / 5;
}
.b{
    grid-row: 2 / 5;
}
.C{
    grid-row: 2 / 5;
    grid-column: 2 / 5; 
}
.d{
    grid-column: 5 / 7;
    grid-row: 5 / 8;
}
.f{
    border: solid red 0px;
}